---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = 'About me';
---

<BaseLayout>
	<div class="flex flex-col gap-8 flex-grow px-8 pb-8">
		<span class="text-6xl uppercase mt-10">{pageTitle}</span>
    <p class="w-full md:max-w-3xl">I am a web developer based in Switzerland, dedicated to building web applications that are accessible to all. With a wide range of experience in various web technologies, I am a team player and excellent communicator.</p>
	</div>
</BaseLayout>