---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'About me';

const identity = {
	firstName: "Gwenaël",
	lastName: "Magnenat",
	occupation: "Web Developer",
	country: "Switzerland",
	hobbies: ["music", "birdwatching", "scuba-diving", "hiking"]
}

const skills = ["HTML", "CSS", "JavaScript", "WordPress", "React", "Astro"];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout>
	<div class="flex flex-col gap-8 flex-grow px-8 pb-8">
		<span class="text-6xl uppercase mt-10">{pageTitle}</span>
    <p class="w-full md:max-w-3xl">I am a {identity.occupation} based in {identity.country}, dedicated to building web applications that are accessible to all. With a wide range of experience in various web technologies, I am a team player and excellent communicator.</p>
		<ul>
			{identity.hobbies.length >= 2 && 
				<li>Two of my hobbies are: {identity.hobbies[0].charAt(0).toUpperCase() + identity.hobbies[0].slice(1)} and {identity.hobbies[1].charAt(0).toUpperCase() + identity.hobbies[1].slice(1)}</li>
			}
		</ul>
		<p>My skills are: </p>
		<ul>
			{skills.map((skill) => <li>{skill}</li>)}
		</ul>

		{happy && <p>I am  happy to be learning Astro!</p>}
		{finished && <p>I finished this tutorial!</p>}
		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days</p>}
	</div>
</BaseLayout>