---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Gwenaël Magnenat - Web developer";
---

<BaseLayout title={pageTitle}>
	<div class="flex flex-col justify-between flex-grow">
		<span class="text-6xl uppercase heading-line">Web Developer</span>
		<span class="text-6xl uppercase text-right heading-line">Gwenaël Magnenat</span>
	</div>
</BaseLayout>