---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Gwenaël Magnenat - Web developer";
---

<BaseLayout title={pageTitle}>
	<div class="~px-4/0 gap-4 py-10">
		<h1 class="~text-4xl/5xl md:~text-6xl/8xl font-bold heading-line">
			Gwenaël Magnenat
		</h1>
		<blockquote class="~text-2xl/4xl md:~text-5xl/6xl text-white mt-4">
			Web Developer <br /> with a focus on
			<span class="before:block before:absolute before:-inset-1 before:-skew-y-1 before:bg-gm-blue relative inline-block">
				<span class="relative text-black font-semibold">accessibility</span>
			</span>
		</blockquote>
	</div>
</BaseLayout>