---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Gwenaël Magnenat - Web developer";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="flex flex-col justify-between flex-grow px-8 pb-8">
		<span class="text-6xl uppercase">Web Developer</span>
		<span class="text-6xl uppercase text-right">Gwenaël Magnenat</span>
	</div>
</BaseLayout>