---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Gwenaël Magnenat - Web developer";
---

<BaseLayout title={pageTitle}>
	<div class="flex flex-col flex-grow ~px-4/0">
		<h1 class="flex flex-col flex-grow justify-between">
			<span class="~text-4xl/5xl md:~text-5xl/6xl uppercase heading-line">Gwenaël Magnenat</span>
			<span class="~text-4xl/5xl md:~text-5xl/6xl block text-right uppercase heading-line">Web Developer</span>
		</h1>
	</div>
</BaseLayout>