---
import BaseLayout from "../layouts/BaseLayout.astro";

const indexPageTitle = 'My Blog';
---

<BaseLayout>
	<div class="flex flex-col justify-between flex-grow px-8 pb-8">
		<span class="text-6xl uppercase">Web Developer</span>
		<span class="text-6xl uppercase text-right">Gwenaël Magnenat</span>
	</div>
</BaseLayout>