---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogCard from '../components/BlogCard.astro';

const publishedPosts = await getCollection('posts', ({ data }) => {
    return data.draft !== true;
});

const sortedPosts = publishedPosts.sort(
    (a, b) =>
        b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);

const pageTitle = "List of blog posts";
---

<BaseLayout title={pageTitle}>
    <section class="relative pb-20 pt-10 2xl:py-40 overflow-hidden">
      <div class="container px-4 mx-auto">
        <!-- Page title -->
        <div class="mb-24 text-center">
          <span class="text-lg text-gm-blue font-bold">What I've been up to</span>
          <h1 class="mt-8 ~text-4xl/5xl md:~text-5xl/6xl font-bold font-heading text-white">Latest blog</h1>
        </div>
        <div class="flex flex-wrap -mx-6">
          <ul class="relative grid mx-auto md:grid-cols-2 lg:grid-cols-3 md:gap-8 px-6 transition-all duration-[3000] ease-in-out">
            {
                sortedPosts.map((post) => (
                    <BlogCard post={post} />
                ))
            }
        </ul>
        </div>
        <div class="mt-14 lg:mt-24 text-center"><a class="inline-block py-5 px-12 mr-4 bg-gray-950 border hover:bg-gray-100 hover:text-gray-900 rounded-full text-white font-bold transition duration-200" href="#">See all</a></div>
      </div>
    </section>
</BaseLayout>