---
import Social from './Social.astro';
---
<footer class="py-4 flex flex-col gap-2">
  <div class="flex gap-2 mx-auto">
    <Social platform="x" username="gmagnenat" />
    <Social platform="instagram" username="gmagnenat" />
    <Social platform="github" username="gmagnenat" />
  </div>
</footer>