---
const { tags } = Astro.props;
---
<div class="">
  <ul class="flex flex-wrap justify-center gap-2">
    {
      Object.entries(tags).map(([key, value]) => (
        <li class="bg-gray-800 hover:bg-gray-700 w-fit px-4 py-1 rounded-md text-sm"><a href={`/post/tags/${key}`}><span class="sr-only">filter posts tagged with:</span>{key}</a></li>
      ))
    }
  </ul>
</div>