---
import Header from "../components/Header.astro";
import { SEO } from 'astro-seo';
import '../styles/global.css';
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

import defaultImageFile from '../assets/firstpostimage.jpg';

const { title, description = 'Gwenaël Magnenat, senior web developer based in Lausanne Switzerland', ogType = 'website', ogTitle = title } = Astro.props;

const siteBaseURL = new URL(Astro.url);
const defaultImage = new URL(defaultImageFile.src, siteBaseURL);

let { image: _image } = Astro.props;
_image = _image || defaultImage;

let image = null;
if (typeof _image === 'string') {
    image = new URL(_image, siteBaseURL);
} else if (_image && typeof _image['href'] !== 'undefined') {
    image = new URL(_image['href'], siteBaseURL);
} else {
	image = defaultImage;
}

---
<html lang="en">
    <head>
      <SEO 
        title={title || 'Gwenaël Magnenat - Web Developer'}
        description={description}
        openGraph={{
          basic: {
            title: ogTitle,
            type: ogType,
            image: _image?.src ? _image.src : defaultImage.toString(),
          },
          image: {
            url: image.toString(),
            secureUrl: image.toString(),
            alt: ogTitle,
            height: _image?.height,
            width: _image?.width,
            type: _image?.format && `image/${_image.format}`,
          },
        }}
        twitter={{
          creator: "@magnenatg",
          image: image ? image.toString() : undefined,
          imageAlt: ogTitle,
          title: ogTitle,
          site: '@magnenatg',
          description: description,
          card: image ? 'summary_large_image' : 'summary',
        }}
        extend={{
          // extending the default link tags
          link: [{ rel: "icon", href: "/favicon.ico" }],
          // extending the default meta tags
          meta: [
           {
            name: 'og:locale',
            content: 'en_US',
           },
           {
            name: 'og:description',
            content: description,
           },
           {
            name: 'og:site_name',
            content: 'Gwenael Magnenat - Web Developer',
           }
          ],
        }}
      />
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />        
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <ViewTransitions />
    </head>
    <body class="min-h-screen h-full flex flex-col bg-gray-950 text-white">
        <Header />
        <main class="flex flex-col flex-grow ~px-0/8">
          <slot />
        </main>
        <Footer />
        <script>
          import "../scripts/menu.js";
        </script>
    </body>
</html>