---
import Header from "../components/Header.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="description" content="Gwenael Magnenat - Personal Website. A web developer and electronic musician based in Switzerland">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <style is:global>
          .expressive-code {
            @apply my-8
          }

          .post__content h2 {
            @apply text-2xl font-semibold my-2;
          }

          .post__content h3 {
            @apply text-xl font-semibold my-2;
          }

          .post__content img {
            width: min(500px, 100%);
            margin-inline: auto;
            @apply py-8;
          }

          .post__content ul {
            @apply list-disc pl-4 my-4;
          }
        </style>
    </head>
    <body class="min-h-screen h-full flex flex-col bg-gray-900 text-white">
        <Header />
        <slot />
    </body>
</html>